<% include ./partials/header.ejs %>
<div class="row">
<div class="col-md-1">
   <div class="btn-group-vertical" data-toggle="buttons">
      <a class="btn  disabled" title= "to change text color of post" >Text color</a>
      <button type="button" class="btn btn-dark textcolor " aria-pressed="true"style="border-top-right-radius:10px; border-top-left-radius: 10px;">Dark</button>
      <button type="button" class="btn btn-white textcolor"style="border-buttom-right-radius:10px; border-buttom-left-radius: 10px;">white</button>
    </div>
  </div>
  <div class="col-md-10">
      <h1 class="textcolor"><%= res.title %></h1>
<div class="faint">
  <div class="container image ">

    <img class="img img-thumbnail" src="<%= res.image %>">
    <div class="textcolor"><%- res.body %></div>
    <span class="textcolor"><%= res.created.toDateString() %></span>

  </div>
</div>
<div class="center">
  <% if(newpost === res.author || newpost ==="jamin0ne"){ %>
    <% %>
<a class=" btn btn-success my-2 my-sm-0 edit" href="/blogs/<%= res._id %>/edit">Edit</a>

<form class="inline" action="/blogs/<%= res._id %>?_method=delete" method="post">
  <input type="text" name="oldimagepath" placeholder="image" value="<%= res.image %>" style="display:none">
  <button class="btn btn-success my-2 my-sm-0 discard">
    Discard
  </button>
</form>
<% } %>
</div>
</div>
</div>
<script>
var buttons =document.querySelectorAll(".btn-group-vertical button");
var alltext= document.querySelectorAll(".textcolor");
var body = document.querySelector("body");
var innerbackground = document.querySelector(".faint");
 var ffffff = "#ffffff";
 var b212529 = "#212529";
 buttons[0].addEventListener("click",()=>{
  alltext.forEach(text=>{
  text.setAttribute("style", "color:"+ffffff+";");
  innerbackground.setAttribute("style","background-color:"+b212529+";")
  })
  body.setAttribute("style","background-color:"+b212529+";")
  buttons[1].setAttribute("style","background-color:"+ffffff+";")
})
buttons[1].addEventListener("click",()=>{
  alltext.forEach(text=>{
  text.setAttribute("style", "color:"+b212529+";");
  innerbackground.setAttribute("style","background-color:"+ffffff+";")
  })
  body.setAttribute("style","background-color:"+ffffff+";")
  buttons[0].setAttribute("style","background-color:"+b212529+";")

})

   

</script>
<% include ./partials/footer.ejs %>