<% include ./partials/header.ejs %>
<style>
  .image {
    background: url("<%= res.image %>");
    border-radius: 30PX;
    opacity: 0.9;
    border: solid rgba(5, 129, 5, 0.3)
  }
</style>
<div class="faint">
  <div class="container image ">

    <h1><%= res.title %></h1>
    <img class="img img-thumbnail" src="<%= res.image %>">
    <p><%- res.body %></p>
    <span><%= res.created.toDateString() %></span>

  </div>
</div>
<div class="center">
  <% if( newpost === true){ %>
<a class="btn btn-success my-2 my-sm-0 edit" href="/blogs/<%= res._id %>/edit">Edit</a>

<form class="inline" action="/blogs/<%= res._id %>?_method=delete" method="post">
  <input type="text" name="oldimagepath" placeholder="image" value="<%= res.image %>" style="display:none">
  <button class="btn btn-success my-2 my-sm-0 discard">
    Discard
  </button>
</form>
<% } %>
</div>
<% include ./partials/footer.ejs %>